@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700);
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Crimson Text', serif;
}
h1 {
    color: #fff;
}
p {
    max-width: 600px;
    margin: 0 auto 20px;
    color: #fff;
}
.content-section {
    h1 {
        text-align: center;
    }
}